*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 103px;
    height: 31px;
    margin-top: 15px;
}

.card{
    width: 296px;
    height: 240px;
    padding: 20px 26px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 20px auto 25px auto;
}

.card h1{
    font-weight: 400;
    font-size: 28px;  
}

.card label{
    font-size: 13px;
    padding-left: 2px;
    padding-bottom: 2px;
    font-weight: 700;
}

.card input{
    width: 272px;
    height: 25px;
    padding: 3px 7px;
    margin-top: 3px;
    background-color: #fff ;
    border: 1px solid #a6a6a6;
    border-radius: 3px;
}

.card button{
    width: 288px;
    height: 31px;
    margin-top: 15px;
    border: 2px solid #ffd70d; 
    background-color: #ffd813;
    border-radius: 8px;
}

.card p, .card p a{
    font-size: 12px;
    line-height: 1.5;
}

a{
    text-decoration: none;
    color: #0066c0;
}

.card a{
    margin-top: 10px;
    font-size: 13px;
}

.card a:hover{
    color: #ca4701;
    text-decoration: underline;
}

.card input:hover{
    background-color: #d2fffc70;
    outline: none;
    border: 1px solid  #00aba0fb;
}

.icon::before{
    display: inline-block;
    content: "";
    border-top: 4px solid transparent;
    border-left: 4px solid #949494;
    border-bottom: 4px solid transparent;
    margin-right: 10px;
}

.break p{
    line-height: 1;
    font-size: 12px;
    color: #767676;
    font-weight: 400;
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding: 0 8px 0 7px;
}

.break, .btn{
    display: flex;
    justify-content: center;
} 

.break::before, .break::after{
    content: "";
    position: relative;
    top: 5px;
    display: inline-block;
    width: 120px;
    border-top: 1px solid #e7e7e7;
}

.btn button{
    width: 348px;
    height: 31px;
    margin: 15px auto;
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px rgb(240, 240, 240);
}

footer .links{
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin: 25px auto 15px auto;
}

footer .links a{
    font-size: 12px;
}

footer::before{
    content: "";
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    height: 44px;
    margin-top: -35px;
    border-top: 1px solid transparent;
    box-shadow: 0 10px 15px -20px #333;  
}

footer p{
    font-size: 11px;
    color: #555;
    text-align: center;
}



